:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
body{
    background-color: #242530;
}
.container{
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.intro{
    text-align: center; 
    padding: 20px;
}
.intro h1{
    color: #404348; 
    margin-bottom: 0;
} 
h2, h3, h4{
    color:#787B75;
    font-size: 1.5em;
    text-align: center;
}
p{
    color: #242530;
}
.personal{
    text-align: center;
    max-width: 70%;
    margin: 1em auto;
}
.barra{
    display: flex; 
    justify-content: center; 
    padding: 10px; 
    background-color: #787B75; 
    color: white; gap: 20px;
}
.barra p{
    color: #fff;
}
table{
    width: 100; 
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid #787B75;
}
.angosto{
    width: 30%; padding: 10px; vertical-align: top;
}
.ancho{
    width: 70%; padding: 10px; vertical-align: top;
}
.fondo{
    background-color: #8F866B;    
    border-radius: 5px; 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    padding: 15px 0px 15px 15px;
}
.fondo p{
    color: #fff; 
}
.borde tr{
    border-bottom: 1px solid #A07837;
}
.borde b{
    color: #787B75;
}